.border-black {
	-fx-border-color: black;
}

.red-field {
	-fx-background-color: #FEE;
	-fx-border-color: #F33;
	-fx-border-radius: 3;
	-fx-border-width: 1;
	-fx-border-insets: -1;
}

.red-field:focused {
	-fx-border-color: #FAA, #F33;
	-fx-border-width: 3, 1;
	-fx-border-insets: -2, -1;
}

.title-bar {
	-fx-background-color: #DDD;
	-fx-border-color: #AAA;
	-fx-border-width: 0 0 1 0;
}

.default-btn {
	-fx-background-color: #CCC;
	-fx-border-radius: 0;
	-fx-background-radius: 0;
}

.default-btn:pressed {
	-fx-background-color: #BBB;
}

.default-btn:hover {
	-fx-border-color: #BBB;
	-fx-border-width: 2;
	-fx-border-insets: -2;
}

.default-field {
	-fx-background-radius: 0;
}

#tv_table .col-name, #tv_table .col-provider {
	-fx-alignment: center-left;
}

#tv_table .col-amount, #tv_table .col-price {
	-fx-alignment: center-right;
}
#tv_table .col-add, #tv_table .col-sub, #tv_table .col-expiration {
	-fx-alignment: center;
}

#msgs .alert {
	-fx-fill: #FFF;
	-fx-font-size: 14;
}